body {
  background:grey;
}
.cal {
  width:100%;
  table-layout:fixed;
}

.cal, .cal td, .cal th
{
  border: 1pt solid black;
  border-collapse:collapse;
  padding:5px;
  text-align:center;
}
.today{
  background:darkgreen;
}

.occupied {
  background:darkred;
  border:0pt;
}
.selected{
  background:magenta;
}
